<%- include("partials/header"); -%>

<div class="Particular-customer">
    <div class="box4"> 
        <h1>Transfer your money to <%= customer.name %></h1>
        <h2>Name : <%= customer.name %></h1>
        <h2>Email : <%= customer.email %></h1>
        <h2>Current : <%= customer.currBal %></h1>
        <h3>Amount</h3>
        <input type="number">
        <a href="/#">Transfer</a>
    </div>
</div>


<%- include("partials/footer"); -%>